@media only screen and (max-width: 450px),
screen and (max-width: 760px),
screen and (max-width: 3000px) {

    .headspacing {
        margin-bottom: -10px;
    }

    .mainspacing {
        margin-top: 50px;
        padding-top: 1px;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    h1 {
        font-size: 100px;

    }

    h2 {
        font-size: 32px;
        text-align: center;
    }

    .topline {
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
        border-bottom: solid black 2px;
    }

    .main {
        margin-left: 50px;
        margin-right: 50px;
        padding-bottom: 40px;
        border-bottom: solid black 2px;
    }

    .searchcolumn {
        padding-top: 15px;
        padding-left: 75px;
        margin-right: 250px;
    }

    .ingrcolumn {
        padding-top: 15px;
    }

    .inputstyle {
        border: solid black 2px;
    }

    .addBtn {
        padding: 10px;
        margin: 20px;
        background-color: white;
    }

    .addBtn:hover {
        background-color: yellow;
        cursor: pointer;
    }


    .generateBtn {
        padding: 10px;
        color: black;
        background-color: rgb(255, 255, 255);
        transform: none;
    }

    .generateBtn:hover {
        background-color: rgb(101, 219, 251);
        color: rgb(44, 43, 43);
        cursor: url('images/cursor_img.png'), auto;

    }


    .main-bg {
        background-image: url(images/mid_bg_cocktails_97.png);
        background-size: cover;
        background-position: center center;
        top: 10px;
        height: 100%;
        width: 100%;
        position: relative;
        padding-bottom: 150px;
        padding-top: 150px;

    }

    .div {
        padding-top: 100px;
    }

    .divline {
        border-bottom: solid black 2px;
    }

    .contacts {
        font-size: 30px;
    }

    li {
        border: solid white 2px;
        background: rgba(255, 255, 255, 0.664);
        margin-bottom: 20px;
        text-align: center;

    }

    .bottom {
        margin-top: 10px;
        padding-top: 20px;
    }

    .Thirsty {
        font-family: sans-serif;
        padding-top: 5%;
        font-size: 20px;
    }

}









/* @media only screen  and (max-width: 450px), screen  
and (max-width: 760px), screen  and (max-width: 2500px) {
    

h1 {
    font-size: 64px;
    font-weight: 700;
    margin-left: 15px;

}

h2 {
    font-size: 32px;
    text-align: center;
}

body {
background-color: #fff;
color: black;
}    

.background-img {
    width: 100%;
    height: 100%;
    margin-top: 2px;

}

.mxItBtn {
 
    position:absolute;
    padding: 10px;
    color: black;
    background-color: #fff;
    transform:none;
}

.mxItBtn:hover {
    background-color: rgba(255, 255, 255, 0.884);
    color: rgb(44, 43, 43);

}


.contacts {
    margin-left: 150px;
    font-size: 24px;
}

.input {
    left: 50px;
    bottom: 300px

}

.addIt {
    left: 7.5rem;
    top: 28rem;
    position: absolute;
    padding: 10px;
    color: black;
    background-color: #fff;
    transform: none;

}

footer {
    border-top: solid 2px;
    padding-top: 50px;
    margin: 0 50px 0 50px
}

.banner-area{
    background-size: cover;
    background-position: center center;
    top: 100px;
    height: 100vh;
    width: 100%;
    position: fixed;
 }


} */

