@media only screen  and (max-width: 450px), screen  
and (max-width: 760px), screen  and (max-width: 2500px) {
    

h1 {
    font-size: 64px;
    font-weight: 700;
    margin-left: 15px;

}

h2 {
    font-size: 32px;
    text-align: center;
}

body {
background-color: #fff;
color: black;
}    

.background-img {
    width: 100%;
    height: 100%;
    margin-top: 2px;

}

.mxItBtn {
    left: 40.25rem;
    top: 32rem;
    position:fixed;
    padding: 10px;
    color: black;
    background-color: #fff;
    transform: none;
}

.mxItBtn:hover {
    background-color: rgba(255, 255, 255, 0.884);
    color: rgb(44, 43, 43);

}


.contacts {
    margin-left: 150px;
    font-size: 24px;
}

.input {
    left: 50px;
    bottom: 300px

}

.addIt {
    left: 7.5rem;
    top: 25rem;
    position: absolute;
    padding: 10px;
    color: black;
    background-color: #fff;
    transform: none;

}

footer {
    border-top: solid 2px;
    padding-top: 50px;
    margin: 0 50px 0 50px
}


}

