@media only screen and (max-width: 450px),
screen and (max-width: 760px),
screen and (max-width: 2000px) {

    .headspacing {
        margin-bottom: -10px;
    }

    .mainspacing {
        margin-top: 50px;
        padding-top: 1px;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    h1 {
        font-size: 100px;

    }

    h2 {
        font-size: 32px;
        text-align: center;
    }

    .topline {
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
        border-bottom: solid black 2px;
    }

    .main {
        margin-left: 50px;
        margin-right: 50px;
        padding-bottom: 40px;
        border-bottom: solid black 2px;
    }

    .searchcolumn {
        padding-top: 15px;
        padding-left: 75px;
        margin-right: 250px;
    }

    .ingrcolumn {
        padding-top: 15px;
    }

    .inputstyle {
        border: solid black 2px;
    }

    .addBtn {
        padding: 10px;
        margin: 20px;
        background-color: white;
        border-radius: 15px 15px;
    }

    .addBtn:hover {
        background-color: yellow;
        cursor: pointer;
    }


    .generateBtn {
        padding: 10px;
        color: black;
        background-color: rgb(255, 255, 255);
        transform: none;
        border-radius: 15px 15px;
    }

    .generateBtn:hover {
        background-color: rgb(101, 219, 251);
        color: rgb(44, 43, 43);
        cursor: url('cursor_img.png'), auto;

    }


    .main-bg {
        background-image: url(cocktails97.png);
        background-size: cover;
        background-position: center center;
        top: 10px;
        height: 100%;
        width: 100%;
        position: relative;
        padding-bottom: 150px;
        padding-top: 150px;

    }

    .div {
        padding-top: 100px;
    }

    .divline {
        border-bottom: solid black 2px;
    }

    .contacts {
        text-align: 25%;
        font-size: 24px;
    }

    li {
        border: solid white 2px;
        background: rgba(255, 255, 255, 0.664);
        margin-bottom: 20px;
        text-align: center;

    }

    .bottom {
        margin-top: 10px;
        padding-top: 20px;
    }

}



/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
        font-family: sans-serif;
        text-align: center;
    }
    
    .wrapper{
        width: 90%;
        margin: 0 auto;
        background-color: #000000!important;
    }
    
    header{
        display: flex;
        justify-content: center;
        background-color: #151615;
        font-weight: 100;
        font-family: 'Bungee Spice', cursive;
        font-family: 'Reem Kufi Ink', sans-serif;;
        height: 150px;
    }
    
    .logo{
        width: 30%;
        float: left;
        text-align: left;
        line-height: 100px;
    }
    
    .logo a{
    text-decoration: none;
    font-size: 60px;
    font-family: 'Bungee Spice', cursive;
    color: aliceblue;
    letter-spacing: 4px;
    }
    
    nav{
        float: right;
        line-height: 100px;
    }
    
    nav a{
        text-decoration: none;
        font-family: 'Bungee Spice', cursive;
        letter-spacing: 4px;
        font-size: 20px;
        color: beige;
        padding: 36px 10px;
        margin: 0 1px;
        font-weight: 500;
    }
   

 .banner-area{
    background-size: cover;
    background-position: center center;
    top: 100px;
    height: 100vh;
    width: 1300px;
    position: fixed;
 }

    
    
    
    .cocktailbox {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .searchbox{
      background: #585856;
      position:relative;
      padding: 15px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      right: 150px;
    }
    
    .searchbox .search_btn{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #8f38da;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin-right: 15px;
        cursor: pointer;
    
    }

   
    
    .searchbox .input_search{
        outline: none;
        border: 0;
        background: #f3eaf8;
        color: rgb(255, 255, 255);
        padding: 15px 20px;
        width: 300px;
        height: 50px;
        border-radius: 50px;
    
    }
    
    ::placeholder{
        color: rgb(2, 2, 2);
    }

form{
    position: relative;
    bottom: 250px;
    right: 300px;
    border-radius: 20px;
    display: block;
    justify-content: flex-start;

}

form input{
    outline: none;
    border: 0;
    background: #fafafa;
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    width: 150px;
    height: 50px;
}

h2{
    color: #000000;
    font-size: 25px;
    background: #fafafa;
}

