@media only screen and (max-width: 450px),
screen and (max-width: 760px),
screen and (max-width: 2000px) {

    .headspacing {
        margin-bottom: 200px;
    }

    .mainspacing {
        margin-top: 50px;
        padding-top: 1px;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    h1 {
        font-size: 100px;

    }

    h2 {
        font-size: 32px;
        text-align: center;
    }

    .searchcolumn {
        padding-top: 150px;
        padding-left: 75px;
        margin-right: 250px;
    }
    
    .ingrcolumn {
        padding-top: 150px;
    }

    .inputstyle {
        border: solid black 2px;
    }

    .addBtn {
        padding: 10px;
        margin: 20px;
        background-color: white;
    }

    .addBtn:hover {
        background-color: yellow;
        cursor: pointer;
    }


    .mxItBtn {
        padding: 10px;
        color: black;
        background-color: rgb(255, 255, 255);
        transform: none;
    }

    .mxItBtn:hover {
        background-color:rgb(101, 219, 251);
        color: rgb(44, 43, 43);
        cursor: url('cursor_img.png'), auto;

    }


    .main-bg {
        background-image: url(mid_bg_cocktails_97.png);
        background-size: cover;
        background-position: center center;
        top: 100px;
        height: 60%;
        width: 100%;
        position: fixed;
        margin-top: 50px;

    }



    .contacts {
        text-align: 25%;
        font-size: 24px;
    }

    li {
        border: solid white 2px;
        background:rgba(255, 255, 255, 0.664);
        margin-bottom:20px;
        text-align: center;

    }

    .bottom {
        margin-top: 100px;
        padding-top: 100px;
    }

}